GO-GET Bookkeeping, Payroll & TAX Services (1).json
{
  "name": "GO-GET Bookkeeping, Payroll & TAX Services",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                6
              ],
              "triggerAtHour": 1,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        112
      ],
      "id": "21179224-8ddb-4e7c-921d-b5d877681190",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "\n### will add a voice agents to automatically update the sheets topic\n\n### will add image generation model to generate an image based on the topic headers\n\n### will add drive which will store the image and the linked in will take the photo from the web and will automatically post the content and genrated image from the drive",
        "height": 448,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        0
      ],
      "typeVersion": 1,
      "id": "54a4cda0-6da5-4aa3-9e64-9720975ce234",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes",
          "mode": "list",
          "cachedResultName": "Social Media Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 997220690,
          "mode": "list",
          "cachedResultName": "Go-Get Payroll and Tax services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit#gid=997220690"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Status",
              "lookupValue": "To do"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        112
      ],
      "id": "f438d9ff-ab0a-446a-a309-d7ca46669268",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9Hi3izoVFXpgYR2",
          "name": "Sheets(verified)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        112
      ],
      "id": "443037b9-4ff3-4ef4-8bd7-914835881918",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes",
          "mode": "list",
          "cachedResultName": "Social Media Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 997220690,
          "mode": "list",
          "cachedResultName": "Go-Get Payroll and Tax services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit#gid=997220690"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Created",
            "Topic": "={{ $('Get row(s) in sheet1').item.json.Topic }}",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_link",
              "displayName": "Image_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        112
      ],
      "id": "89466c76-a32c-4c44-8444-9884d90caf57",
      "name": "Update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9Hi3izoVFXpgYR2",
          "name": "Sheets(verified)"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 672,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0c8e82ed-40cd-4dbc-b5b6-df99e7f2b7c1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        16
      ],
      "typeVersion": 1,
      "id": "af511793-7bb7-47f9-92df-6a8dcda9c17e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "8239137102",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "Approved"
                    }
                  },
                  {
                    "text": "Decline",
                    "additionalFields": {
                      "callback_data": "Declined"
                    }
                  },
                  {
                    "text": "Remake",
                    "additionalFields": {
                      "callback_data": "Remake"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        624
      ],
      "id": "e4518436-0de7-4e66-ad82-cf6043eb1dd8",
      "name": "Send a photo message",
      "webhookId": "954df9b0-c2da-4378-848d-5cc2bc6193a9",
      "credentials": {
        "telegramApi": {
          "id": "N2sRM2hsLXkXqZoD",
          "name": "Telegram GoGet Book-Keeping Payroll & Tax"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35a66501-031c-4c64-83ed-e25537e39960",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        640
      ],
      "id": "02a94a61-7677-4d34-b243-f364ea183f61",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8239137102",
        "text": "=Your Post Has Been {{ $('If').item.json.callback_query.data }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        624
      ],
      "id": "c58a0094-53d2-49ff-8552-9764d9fc3fc1",
      "name": "Send a text message",
      "webhookId": "7b0d3b14-3724-44c1-a1c8-0b7d9a113700",
      "credentials": {
        "telegramApi": {
          "id": "N2sRM2hsLXkXqZoD",
          "name": "Telegram GoGet Book-Keeping Payroll & Tax"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -304,
        624
      ],
      "id": "014db83f-b9d8-477a-8365-1ff09d3c78a2",
      "name": "Limit1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes",
          "mode": "list",
          "cachedResultName": "Social Media Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 997220690,
          "mode": "list",
          "cachedResultName": "Go-Get Payroll and Tax services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit#gid=997220690"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Created"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        624
      ],
      "id": "7eddfc85-faef-47e5-8893-41bd054ab1e4",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9Hi3izoVFXpgYR2",
          "name": "Sheets(verified)"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1728,
        624
      ],
      "id": "f2fc5949-295b-4a6d-98c8-142e48e22e4c",
      "name": "Limit2"
    },
    {
      "parameters": {
        "name": "=image_{{ String($itemIndex + 1).padStart(3, '0') }}.png\n\n",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1khlxvYU6Vpg3ggy32b-mJtrPHLvaAUii",
          "mode": "list",
          "cachedResultName": "Saved Images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1khlxvYU6Vpg3ggy32b-mJtrPHLvaAUii"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        928
      ],
      "id": "09b4d906-2234-499f-9f48-b2cf0081b00c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "myNCpwLrk6qI3eGB",
          "name": "Google Drive (verified)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes",
          "mode": "list",
          "cachedResultName": "Social Media Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 997220690,
          "mode": "list",
          "cachedResultName": "Go-Get Payroll and Tax services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit#gid=997220690"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Limit1').item.json.Topic }}",
            "Image_link": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_link",
              "displayName": "Image_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        928
      ],
      "id": "1de47d0c-a5fc-43b9-ae59-2adbb855a07d",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9Hi3izoVFXpgYR2",
          "name": "Sheets(verified)"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.Image_link }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        624
      ],
      "id": "b5d1a7b6-bfef-4a75-a212-a69710374acf",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "myNCpwLrk6qI3eGB",
          "name": "Google Drive (verified)"
        }
      }
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "100531276",
        "text": "={{ $json.Content }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2336,
        624
      ],
      "id": "b223e24c-d68a-447a-a24d-1bac02381735",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "uOJgofbN5E8y4UNr",
          "name": "Go GEt Book-Keeping Payroll and Taxes"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        112
      ],
      "id": "b99c728b-d4a8-4dee-9f7f-8a284d66c421",
      "name": "Limit3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "options": {
          "systemMessage": "=You are a Social Media Post Generator Agent operating in strict mode. Your task is to transform content into engaging, professional, and marketing-focused social media posts for LinkedIn, Facebook, Instagram, and X. Try to not add any emojis like It's generated with AI. Make it like a humanize post. And the hashtags will be there in the generated post\n\n✅ Objective:\n\nConvert content into marketing-oriented social media posts.\n\nMaintain a professional, inspiring, and audience-friendly style.\n\nTarget Audience: Entrepreneurs, Businesses, Founders, AI Enthusiasts, and General Users.\n\n✅ Content Rules:\n\nMax Length: 100 - 150 words.\n\nTone: Clear, positive, and brand-focused. No slang, misinformation, or negativity.\n\nGoal: Encourage engagement, awareness, and brand value.\n\n✅ Platform Compatibility:\n\nSuitable for LinkedIn, Facebook, Instagram, and X.\n\nEmojis and light hashtags allowed (if appropriate).\n\n✅ Post Structure:\n\nHeadline: Catchy and concise.\n\nMain Content: Engaging, aligned with brand messaging (max 100 - 150 words).\n\nCall-to-Action (CTA): Encourage user action, without colons (e.g., \"Explore the future of business with AI\").\n\nHashtags: Relevant and trending, without colons (e.g., #AIAutomation, #BusinessGrowth).\n\nEmojis: Optional, to enhance visual appeal.\n\n✅ Example Format for Generated Post:\n\n🚀 Make Your New Year Prosperous with AI Automation!\nAs a new year dawns, elevate your business prospects by integrating AI automation. Unlock unprecedented efficiency, drive innovation, and achieve remarkable growth. Leverage the power of artificial intelligence to streamline operations, enhance decision-making, and position your enterprise for future success. This is your moment to transform challenges into triumphs!\n\nExplore the future of business with AI\n#AIAutomation #NewYearNewBiz #BusinessGrowth #FutureOfWork #DigitalTransformation\n\n\n✅ Output Requirements:\n\nDeliver final post text only.\n\nNo extra formatting, explanations, or system messages.\n\nEnsure that CTA and hashtags appear without colons, following the format as shown in the example."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        112
      ],
      "id": "83e4feb7-12b6-4816-ae13-3aa4892e0be9",
      "name": "Post generation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes",
          "mode": "list",
          "cachedResultName": "Social Media Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 997220690,
          "mode": "list",
          "cachedResultName": "Go-Get Payroll and Tax services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z6bDzSl2vXC4UWd6qOVSfLjLNRtmxT8HqyPl_gGibes/edit#gid=997220690"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Created"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        368
      ],
      "id": "c6b2ff56-2267-4f8d-a9c7-5da1b538a217",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9Hi3izoVFXpgYR2",
          "name": "Sheets(verified)"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1sr7W0R-cjMkfrDx_QPHg0kXq8fCD9-eD",
            "mode": "list",
            "cachedResultName": "Go-Get Bookkeeping, Payroll and Taxes logo",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1sr7W0R-cjMkfrDx_QPHg0kXq8fCD9-eD"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        624
      ],
      "id": "0be7166f-4edc-43e7-bd78-affd73e34062",
      "name": "Search Logo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "myNCpwLrk6qI3eGB",
          "name": "Google Drive (verified)"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        624
      ],
      "id": "ac56d239-ec37-4916-8b32-bc7f713812f5",
      "name": "Download logo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "myNCpwLrk6qI3eGB",
          "name": "Google Drive (verified)"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $('Prompt Enhancer').item.json.output }}",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        160,
        848
      ],
      "id": "d1a70d9d-4da0-4547-a964-4a02892b52bb",
      "name": "Edit an image (gemini)",
      "credentials": {
        "googlePalmApi": {
          "id": "Jvwv12uTYKzKjaRK",
          "name": "Gemini(verified Tier - 1)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "8239137102",
        "text": "=Your Post Has Been  {{ $json.callback_query.data }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        816
      ],
      "id": "6f58dec6-6b34-470e-8b77-f745333f20c0",
      "name": "Decline Message",
      "webhookId": "7afcbb71-2a29-49fc-8838-faf969c929d9",
      "credentials": {
        "telegramApi": {
          "id": "N2sRM2hsLXkXqZoD",
          "name": "Telegram GoGet Book-Keeping Payroll & Tax"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8239137102",
        "text": "=Remaking the post please wait for couple of minutes",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        992
      ],
      "id": "3b9818eb-d5c8-49e0-b1aa-27cbdf2b00d5",
      "name": "Remaking the content",
      "webhookId": "7b0d3b14-3724-44c1-a1c8-0b7d9a113700",
      "credentials": {
        "telegramApi": {
          "id": "N2sRM2hsLXkXqZoD",
          "name": "Telegram GoGet Book-Keeping Payroll & Tax"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e19030c-ef36-4487-86ca-eee60363e5cc",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "Remake",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        880
      ],
      "id": "de91c4b8-6a59-43e9-814b-9c10feae3c03",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "options": {
          "systemMessage": "=You are a Senior Graphic Ad Designer. Your goal is to generate high-conversion AI image prompts for social media advertisements. Alsways be creative While you are designing poster image.\n\nCRITICAL INSTRUCTION: Provide the output immediately starting with the prompt. Do not use introductory phrases like \"Here is your prompt\" or \"The Poster Prompt:\". Provide only the raw technical prompt followed by the marketing details.\n\nThe Design Framework:\nThe Visual Foundation: Describe a hyper-realistic normal shot no close up shot, commercial-grade scene (lighting, textures, color palette).\n\nTypography Integration: Describe specific text to be rendered inside the image (Headline, Sub-headline).\n\nCTA Integration: Describe a visual \"Call to Action\" element (e.g., a \"Sign Up\" button or \"Link in Bio\" graphic) rendered within the design.\n\nLayout: Specify the use of negative space for readability and logo placement on a reasonable position of any top corner of the image (Top Left/Top Right)\n\nOutput Format (Strictly Follow This):\n[100-150 word technical prompt including visual description, text overlays, and logo placement.]\n\nOutput Requirements:\n\nDeliver final prompt only.\n\nNo extra formatting, explanations, Hashtags or system messages.\n\nEnsure that CTA appear without colons and No \"Headlines\" No \"Sub Headlines:\" in the prompt. And, the Text on graphic should be in a reasonable position as well.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        624
      ],
      "id": "717e72c9-01a5-4c9c-8682-5fae14808c4e",
      "name": "Prompt Enhancer"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "107552911931527",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Limit2').item.json.Content }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2592,
        896
      ],
      "id": "a20fd61b-184c-471e-87fa-09a4ead16f6d",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "xy6ZT7RHUc7zIN6S",
          "name": "Facebook Go get Book-Keeping payroll & Taxes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/media/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_category",
              "value": "tweet_image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2736,
        1120
      ],
      "id": "baae4773-10cb-4148-af4f-3c8a6ab09475",
      "name": "tweeter_upload_image",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Facebook Upload",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        848
      ],
      "typeVersion": 1,
      "id": "5919fe7d-205c-4082-8d01-264706f70f3d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "text": "={{ $('Code in JavaScript').item.json.content }}",
        "additionalFields": {
          "attachments": "={{ $json.data.id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        2944,
        1120
      ],
      "id": "149ad725-e821-47cd-9cf2-90b5d5958eac",
      "name": "Create Tweet",
      "disabled": true
    },
    {
      "parameters": {
        "content": "##  X account post",
        "height": 240,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        1056
      ],
      "typeVersion": 1,
      "id": "d9655fa1-fa63-4c35-9b5f-6b6d060c576b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1136,
        640
      ],
      "id": "e7054069-d1f6-4e63-9f85-7e1e8d793938",
      "name": "Telegram Trigger",
      "webhookId": "5d5c8e84-40f1-4e9c-90d6-2d3bac5cf07f",
      "credentials": {
        "telegramApi": {
          "id": "N2sRM2hsLXkXqZoD",
          "name": "Telegram GoGet Book-Keeping Payroll & Tax"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/107552911931527/media_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAALZBM1mFe7ABQuc4zXjUjOYv2BL7sZC2FAeDaI1J5xfUQZAaYv0jmsZAdkqhUiwq8ziY7CbDFnSrZCB93E5VRPCRDQZCtAuZCD91KUP13KJjMn1SvRs4iKDZCJDhpMMUxV51d3Uf4Flj7lwnxGCvLF3dXKvA2xAgmCs6Sqmkkk8LmbFPMvgRuVk3PgvjjlNMtCen0cZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        1440
      ],
      "id": "82b3b2ac-f281-4394-bf83-88e28ca29c4f",
      "name": "Instagram(Post publish)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## IMGB for file upload",
        "height": 240,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        1056
      ],
      "typeVersion": 1,
      "id": "df9228c2-80b6-4100-830a-5db4f0098d12",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Instagram upload",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        1360
      ],
      "typeVersion": 1,
      "id": "b7f28bc1-e9c5-4332-9907-f1b1a55fddbe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "107552911931527",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('Limit2').item.json.Content }}"
              },
              {
                "name": "image_url",
                "value": "=https://ntgzcjudpxqvdjwctogg.supabase.co/storage/v1/object/public/{{ $json.Key }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2208,
        1440
      ],
      "id": "bc57c740-347a-4c44-9f50-7f9509e46215",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "xy6ZT7RHUc7zIN6S",
          "name": "Facebook Go get Book-Keeping payroll & Taxes"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ntgzcjudpxqvdjwctogg.supabase.co/storage/v1/object/Image-files/{{ $binary.data.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        1120
      ],
      "id": "4f74b6b4-4aac-4784-a7c6-31dddf5181d4",
      "name": "supabase",
      "credentials": {
        "supabaseApi": {
          "id": "dQkp0ZuF5L588dBe",
          "name": "Supabase account Fuad"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const uniqueId = Date.now() + '_' + Math.random().toString(36).substring(2, 7);\n\n// Set the new filename (e.g., 1715856201_a7b2_image.jpg)\n$input.item.binary.data.fileName = `${uniqueId}_image.jpg`;\n\n// Ensure the extension matches for Supabase/Meta compatibility\n$input.item.binary.data.fileExtension = 'jpg';\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        864
      ],
      "id": "88215576-706a-4a9b-81c0-3d6b3793d876",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 2800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -240,
        848
      ],
      "id": "2ddef771-f204-4e73-937d-aebe28650ad7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "aNMlXYaSk3LwKfyd",
          "name": "Groq account verified"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "={{ $('Prompt Enhancer').item.json.output }}",
        "images": {
          "values": [
            {}
          ]
        },
        "size": "1024x1536",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        592,
        624
      ],
      "id": "f287c3a6-eebf-4c4f-b82e-dff449dd2fb1",
      "name": "Edit image",
      "credentials": {
        "openAiApi": {
          "id": "TyoKpfsg4ylXJemq",
          "name": "OpenAI Image Edit"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 2056
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        608,
        448
      ],
      "id": "4b33938a-b6ad-41de-be92-e7aec28b5310",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "aNMlXYaSk3LwKfyd",
          "name": "Groq account verified"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Prompt Enhancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Post generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post generation": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Logo": {
      "main": [
        [
          {
            "node": "Download logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download logo": {
      "main": [
        [
          {
            "node": "Edit image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit an image (gemini)": {
      "main": [
        []
      ]
    },
    "Remaking the content": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Remaking the content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Enhancer": {
      "main": [
        [
          {
            "node": "Search Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tweeter_upload_image": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Instagram(Post publish)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit image": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Enhancer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "902e42bf-230c-4b39-882b-35c7bdff4f23",
  "meta": {
    "instanceId": "20cf75cd0417fe5be3c3d8dcf7163bcd4dd5f0947193527bf3d55f850ac76577"
  },
  "id": "PdhSoWLquWPtd77IA4hMH",
  "tags": []
}