Lead Gen Agent.json
{
  "name": "Lead Gen Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "44a1cb75-378f-422f-9934-c013e64297ed",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        144,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9f47bf11-a7f6-40b7-9b5e-33e728eb6bd2",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        544,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "d13e9b1c-078a-46ab-9e1a-d7d2e308054c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        928,
        304
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "aaf67e6b-dd71-4718-9d60-b8894ce7fe50",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1328,
        688
      ],
      "webhookId": "19cc6ed4-4fe7-485b-b879-c679e4b3374d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "maxItems": 8
      },
      "id": "a9f988e5-dcd2-45f9-a9e1-43f4a1cb40a0",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        912,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "d3d2f903-12a0-4a86-b36d-554d00e2ddf1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1152,
        352
      ],
      "webhookId": "0fe34756-6e43-4603-8891-5747a9a6500a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.data.email, data.data.phone_number, data.data.annual_revenue, data.data.WhatsApp_number, , data.data.Founder_email",
        "include": "={{ $json.data.data.email }}{{ $json.data.data.phone_number }}{{ $json.data.data.annual_revenue }}{{ $json.data.data.Founder_email }}{{ $json.data.data.WhatsApp_number }}",
        "options": {}
      },
      "id": "b87ff463-a604-4e53-af3c-9f34424294f4",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1760,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))"
      },
      "id": "3644fdda-8855-48de-9535-db0dc1adce22",
      "name": "Extract URLs",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://www.google.com/maps/search/UK+realestate+companies",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "37d11381-2b21-4036-8983-ca961229daae",
      "name": "Scrape Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        416,
        384
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6786c58-424a-409a-b87f-8a7592cb7944",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json['data.data.email'] }}",
              "rightValue": ""
            },
            {
              "id": "54ed0113-9290-445c-887f-0cbdaa39af9f",
              "leftValue": "={{ $json['data.data.phone_number'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "429eb633-4272-45b6-b34d-767beb96cd52",
              "leftValue": "={{ $json['data.data.WhatsApp_number'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3887b229-14b0-4365-858a-ad69cbd2f38d",
              "leftValue": "={{ $json['data.data.annual_revenue'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5ee3dd87-bf41-4576-8a56-79f0c1f6a154",
      "name": "Filter Out Empties",
      "type": "n8n-nodes-base.filter",
      "position": [
        1328,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bf0a5053-9660-457c-9581-964793bb6d7d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "schema"
            },
            {
              "id": "9110b9e0-12aa-45cc-bde0-9eda8c10970e",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "google"
            },
            {
              "id": "fb9b6ed6-96a5-4560-ab10-b8a4b9a61a2b",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "gg"
            },
            {
              "id": "10500c0b-cdbd-4816-aba3-df60d69845dc",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "gstatic"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9efdbd46-677b-4a58-93fa-c582f67d1265",
      "name": "Filter Google URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        352,
        672
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "id": "137a34df-7a81-4ee9-8ea9-4f4e4f2a748c",
      "name": "Remove Duplicates (2)",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1504,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json['data.data.email'] }}",
            "Phone Number": "={{ $json['data.data.phone_number'] }}",
            "WhatsApp Number": "={{ $json['data.data.WhatsApp_number'] }}",
            "Yearly Revenue": "={{ $json['data.data.annual_revenue'] }}",
            "Founder_email": "={{ $json['data.data.Founder_email'] }}"
          },
          "matchingColumns": [
            "phones"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Founder_email",
              "displayName": "Founder_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WhatsApp Number",
              "displayName": "WhatsApp Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Yearly Revenue",
              "displayName": "Yearly Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        352
      ],
      "id": "c55c8a57-0bd3-4ecb-bd11-98e039e3c54a",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frXm75xx7Lz2QTfZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "urls": {
          "items": [
            {
              "url": "={{ $json.website }}"
            }
          ]
        },
        "prompt": "=Look for the contact information's with the company like valid organization email, Founders email, number, WhatsApp number also look for the companies yearly revenue",
        "schema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"email\": {\n      \"type\": \"string\"\n    },\n    \"Founder_email\": {\n      \"type\": \"string\"\n    },\n    \"phone_number\": {\n      \"type\": \"string\",\n      \"description\": \"The full phone number, standardized to include the country code and **all spaces and special characters (like parentheses, comma, currency sign) removed**. Example: '+442036331271'\"\n    },\n    \"WhatsApp_number\": {\n      \"type\": \"string\",\n      \"description\": \"The WhatsApp number, standardized to include the country code and **all spaces and special characters (like parentheses) removed**. Example: '44744735271641'\"\n    },\n    \"annual_revenue\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"email\",\n    \"Founder_email\",\n    \"phone_number\",\n    \"WhatsApp_number\",\n    \"annual_revenue\"\n  ]\n}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1168,
        688
      ],
      "id": "07667ea0-da8c-4946-872b-2746aaa39671",
      "name": "Extract Data",
      "credentials": {
        "firecrawlApi": {
          "id": "i5dYhZsH3PW0yDF7",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getExtractStatus",
        "extractId": "={{ $json.id }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1520,
        688
      ],
      "id": "4e0298c3-0a17-45d4-902d-86080489bd24",
      "name": "Get Extract Status",
      "credentials": {
        "firecrawlApi": {
          "id": "i5dYhZsH3PW0yDF7",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "bcf200b3-10a2-4708-aacc-8366ab207a2d",
      "name": "Scrape Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1776,
        336
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Prepare the input data for matching.\n// Converts the input JSON data into a single, searchable string.\nconst input = JSON.stringify($input.first().json.data) || '';\n\n// 2. Define Regex Patterns for all desired fields (with improvements).\n\n// 📧 Email Regex: Simpler and more robust pattern for standard email formats.\nconst emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,6}\\b/g;\n\n// 📞 Phone Number Regex: Flexible for UK/International formats, allowing spaces,\n// hyphens, and optional international codes (e.g., +44 1234 567890 or 01234 567890).\n// This pattern is more forgiving than the previous one.\nconst phoneRegex = /(?:\\+?44|0)[\\s.-]?\\d{3,5}[\\s.-]?\\d{4,7}|(?:\\+\\d{1,3}[\\s.-]?)?\\d{2,}[\\s.-]?\\d{2,}[\\s.-]?\\d{4,}/g;\n\n// 💰 Currency Amounts: Focuses on specific currency formats and large numbers, \n// using a lookbehind to better isolate currency.\n// Note: JavaScript in some environments doesn't support lookbehinds, so this \n// version uses a broad pattern followed by post-processing.\nconst revenueRegex = /([£€$]\\s*[\\d,.]+(?:\\s*(?:M|K|B)\\b)?)|(\\b[\\d,]+\\s*(?:M|K|B)\\b)/gi;\n\n// 📈 Sales Units: More specific for a typical number of sales units (2-6 digits)\n// but excludes common number patterns that are likely year or revenue.\n// This still needs a manual check against the actual content for best results.\nconst salesUnitRegex = /\\b\\d{2,6}\\b/g;\n\n// 3. Extract all matches.\nconst emailsRaw = input.match(emailRegex) || [];\nconst phonesRaw = input.match(phoneRegex) || [];\nconst revenueRaw = input.match(revenueRegex) || [];\nconst salesRaw = input.match(salesUnitRegex) || [];\n\n// 4. Sanitize and Clean the extracted data.\n// Use Set to ensure unique values and clean up any potential noise.\nconst emails = [...new Set(emailsRaw.map(e => e.trim().toLowerCase()))];\n\n// Filter out common unwanted matches like years (2022, 2015, etc.) and small numbers\n// before removing duplicates. You'll need to adjust this filtering based on your noise.\nconst phones = [...new Set(phonesRaw.map(p => p.trim()))].filter(p => !p.includes('19') && !p.includes('20') && p.length > 7);\n\n// Basic cleanup for revenue values\nconst revenue = [...new Set(revenueRaw.map(r => r.trim()))];\n\n// Filter sales units to exclude single digits and years, ensuring it's a number.\nconst sales = [...new Set(salesRaw)]\n    .filter(s => s.length > 2 && !/20\\d{2}/.test(s));\n\n\n// 5. Return the results.\nreturn {\n  json: {\n    emails: emails,\n    phones: phones,\n    revenue: revenue,\n    sales_units: sales\n  }\n};"
      },
      "id": "e7a35026-bdfd-4b10-b4ba-5ef706a4d3bb",
      "name": "Extract Emails,Phones, Revenues, Sales",
      "type": "n8n-nodes-base.code",
      "position": [
        -1536,
        336
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "crawl",
        "url": "={{ $json.website }}",
        "prompt": "Find the email, contact number, yearly revenue and sales unit",
        "delay": 1,
        "crawlOptions": {},
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -1664,
        544
      ],
      "id": "86f5a60d-2f5f-47f3-88ac-e3626e43abe8",
      "name": "Crawl a website",
      "credentials": {
        "firecrawlApi": {
          "id": "i5dYhZsH3PW0yDF7",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=find out the email, phone, revenue, sales_unit",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Data Extraction AI Agent. Your task is to read JSON input data and extract structured business and contact information with maximum precision. The input data will arrive as raw JSON (for example, $input.first().json.data), and you must first convert it into a single searchable text string using JSON.stringify() before processing.\n\nYou will then identify and clean the following key fields: emails, phone numbers, revenue/currency values, and sales units.\n\nExtraction and Cleaning Rules:\n\nEmails:\n\nDetect standard email formats using the regex pattern:\n\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,6}\\b\n\nConvert all results to lowercase, remove spaces, and ensure uniqueness.\n\nIgnore duplicates and invalid matches.\n\nPhone Numbers:\n\nMatch UK and international formats with optional “+” prefixes, spaces, hyphens, or dots.\n\nUse this regex pattern:\n(?:\\+?44|0)[\\s.-]?\\d{3,5}[\\s.-]?\\d{4,7}|(?:\\+\\d{1,3}[\\s.-]?)?\\d{2,}[\\s.-]?\\d{2,}[\\s.-]?\\d{4,}\n\nExclude patterns likely to represent years (e.g., “2015”, “2020”) and discard numbers shorter than eight digits.\n\nReturn only cleaned, unique results.\n\nRevenue / Currency Amounts:\n\nDetect numeric expressions containing symbols (£, €, $) or multipliers (K, M, B).\n\nUse this regex pattern:\n([£€$]\\s*[\\d,.]+(?:\\s*(?:M|K|B)\\b)?)|(\\b[\\d,]+\\s*(?:M|K|B)\\b)\n\nNormalize formatting, remove spaces, and return unique entries.\n\nSales Units:\n\nIdentify 2–6 digit numbers representing quantities but exclude years or irrelevant numbers.\n\nUse this regex pattern:\n\\b\\d{2,6}\\b\n\nFilter out matches like “2022” or “2018”. Return only valid, cleaned numeric values.\n\nData Sanitization and Output Rules:\n\nUse a deduplication process similar to JavaScript’s Set() to ensure unique outputs.\n\nTrim whitespace and remove noise.\n\nOnly return verified, high-confidence matches.\n\nExclude irrelevant or partial data.\n\nAlways output results in clean, well-formatted JSON.\n\nFinal Output Format:\nYou must always respond with the following JSON structure:\n\n{\n  \"emails\": [\"example@email.com\"],\n  \"phones\": [\"+44 1234 567890\"],\n  \"revenue\": [\"£2.3M\", \"$500K\"],\n  \"sales_units\": [\"3245\"]\n}\n\n\nObjective:\nYour goal is to transform messy or mixed JSON/text content into a precise, normalized dataset containing emails, phone numbers, revenue amounts, and sales figures. Maintain high accuracy, consistency, and a strict JSON output format suitable for automation workflows or business intelligence pipelines."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2352,
        416
      ],
      "id": "4988af1a-acb5-4535-8e21-db3a6525f63b",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4196
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2448,
        608
      ],
      "id": "32ba05e3-f75b-4b60-b593-e604d8bf7913",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y2I3Prt1ppvCDrnE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"email\": \"string\",\n  \"phone_number\": \"string\",\n  \"annual_revenue_usd\": \"number\",\n  \"sales_unit_or_metric\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2064,
        544
      ],
      "id": "77564878-972a-46da-9b8c-669c4d3f944e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2240,
        624
      ],
      "id": "6918493f-1297-46c3-ad52-54928fb47444",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Y2I3Prt1ppvCDrnE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trial And Error NOdes",
        "height": 592,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2576,
        256
      ],
      "typeVersion": 1,
      "id": "6d6703fc-60af-4894-b954-e3d991a106d9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Initial\n## Extraction",
        "height": 288,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        272
      ],
      "typeVersion": 1,
      "id": "aa120ce5-e049-4332-8886-ab996a9ef279",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Filtering Trash URL's and Stuffs",
        "height": 288,
        "width": 544,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        576
      ],
      "typeVersion": 1,
      "id": "48da3a5d-f5a9-42dd-b55f-0ba3b52cac65",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Setting Up The Limit Like How many at a time",
        "height": 288,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        576
      ],
      "typeVersion": 1,
      "id": "993f6843-c5d6-48f3-b108-590a64402ed7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Data Extractions According to our Needs",
        "height": 288,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        576
      ],
      "typeVersion": 1,
      "id": "ccba89a1-7ce6-4712-a1c5-6f3fc1ece352",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Final Goal Data Updation",
        "height": 288,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        240
      ],
      "typeVersion": 1,
      "id": "afd96468-0c7b-483e-baf8-0ee9fff609f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filtering out if there any Unnecessary data",
        "height": 288,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        240
      ],
      "typeVersion": 1,
      "id": "eb6fcb64-ece0-40cc-969f-bd91b3e9e35f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2560,
        352
      ],
      "id": "09965c3f-948a-4c5d-98a4-b8c6300dde31",
      "name": "Remove Duplicates1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Email": "={{ $json.Email }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "WhatsApp Number": "={{ $json['WhatsApp Number'] }}",
            "Yearly Revenue": "={{ $json['Yearly Revenue'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp Number",
              "displayName": "WhatsApp Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yearly Revenue",
              "displayName": "Yearly Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3440,
        352
      ],
      "id": "cb471f0a-b596-473d-9cf9-a561185de35b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frXm75xx7Lz2QTfZ",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit#gid=0"
        },
        "clear": "specificRows",
        "startIndex": "=A2",
        "rowsToDelete": "={{ $json.Email }}{{ $json['Phone Number'] }}{{ $json['WhatsApp Number'] }}{{ $json['Yearly Revenue'] }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2944,
        352
      ],
      "id": "6e2c1506-01fa-44a7-b010-ab9aa0bbec64",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frXm75xx7Lz2QTfZ",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Data Extractions According to our Needs",
        "height": 304,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        560
      ],
      "typeVersion": 1,
      "id": "d0babd17-e5c3-40dc-bc1c-8929bcf01ea1",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3200,
        352
      ],
      "id": "c66b2c2c-5904-4c5c-b687-dcbc0b6527d3",
      "name": "Wait2",
      "webhookId": "d9f4b8a7-4ea8-415e-80df-b257ca6ad2a9",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "UK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['data.data.email'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        672
      ],
      "id": "5c21f815-adcf-4071-b785-300ea7f9d756",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frXm75xx7Lz2QTfZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "UK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S8h_00OEh6GNr0M320hVZT-tyGDy1x-TkHuRRkZZgcc/edit#gid=0"
        },
        "clear": "specificRows",
        "startIndex": "={{ $json.row_number }}",
        "rowsToDelete": "=1"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2512,
        704
      ],
      "id": "e0ff6f1c-cd70-44d6-8354-0e6060f9a1a8",
      "name": "Clear sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frXm75xx7Lz2QTfZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1936,
        880
      ],
      "id": "7ee2a819-a403-4745-834e-9fd9cb476c49",
      "name": "Wait3",
      "webhookId": "9529d273-e38a-4196-8f7f-d76c3704f1ac"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2208,
        672
      ],
      "id": "f5da05fa-87c4-4486-9056-d224f0fb1480",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get Extract Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Filter Out Empties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URLs": {
      "main": [
        [
          {
            "node": "Filter Google URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Google URLs": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Empties": {
      "main": [
        [
          {
            "node": "Remove Duplicates (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Google Maps": {
      "main": [
        [
          {
            "node": "Extract URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates (2)": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Scrape Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Extract Status": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet1": {
      "main": [
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f42f769-9715-4216-a190-23a6f2b0f8e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85319aa28ad323aaf31122ca9536b3a9fe952018320074b78b8c1ef1b9de5c95"
  },
  "id": "qNQxHIHA0s4t1RvQ",
  "tags": []
}